*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.navbar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;

}
.content {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 50vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 4rem; */
    
}
.footer{
    width: 100vw;
    height: 5rem;
    background-color: black;
    color: red;
    text-align: center;
}